
WebAPI/.vs/WebAPI/v17/.suo
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
.vsidx
WebAPI/.vs/WebAPI/FileContentIndex/5201db55-d1a0-4f3c-b466-83fc803bb5da.vsidx
*.vsidx
